<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title)%> | This is BASE TITLE on all page</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/header" %>
	<div class="container">
		<%= yield %>
	<%= render "layouts/footer" %>
	
	<!-- This line only show at dev mod it's shows the params at page visiting-->
	<!-- changing env in Rails: -->
	<!-- rails console test -->
	<!-- rails server --environment production -->
	<!-- bundle exec rake db:migrate RAILS_ENV = production -->

	<%= debug(params) if Rails.env.development? %>

	</div> 
</body>
</html>
